/* COMMON */

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    display: flex;
    align-items: center;
}

.material-icons {
    font-size: 80px;
    color: #fff;
}

/* Swiper 슬라이더 */

.swiper-container {
    width: 80%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 가장자리 둥글게 */
    border-radius: 15px;
    /* 슬라이드 영역 벗어나는 이미지는 보이지 않게 처리 */
    overflow: hidden;
}

/* 세 슬라이드 가운데 양측에 위치한 슬라이드는 연하게 보이게 함 */

.swiper-slide-prev, .swiper-slide-next {
    opacity: 0.5;
}

/* 세 슬라이드 가운데 중앙에 위치한 슬라이드는 진하게 보이게 함 */

.swiper-slide-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
}

/* 슬라이더 화살표 */

.slider-arrow {
    /* 부모 요소를 기준으로 절대적 위치 설정 */
    position: absolute;
    /* 부모 요소의 높이의 절반만큼 위의 간격을 둠 */
    top: 50%;
    /* 세로 중앙 정렬을 위해 요소의 높이의 절반만큼을 위로 당김 */
    margin-top: -40px;
    /* 이미지 위에 화살표가 보이도록 레이어 순서 설정 */
    z-index: 2;
    /* 화살표 위에 커서를 얹으면 포인터 모양이 되도록 함 */
    cursor: pointer;
}

/* 화살표에 hover하면 아이콘 크기가 1.08가 되도록 함 */

.slider-arrow:hover {
    transform: scale(1.08);
}

/* 왼쪽 화살표는 부모 요소의 왼쪽으로부터 0만큼 떨어진 지점에 배치 */

.arrow-prev {
    left: 0;
}

/* 오른쪽 화살표는 부모 요소의 오른쪽으로부터 0만큼 떨어진 지점에 배치 */

.arrow-next {
    right: 0;
}

/* 슬라이더 bullet */

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 5px;
    background: #fff;
    opacity: 0.6;
    transition: .4s ease;
}

.swiper-pagination-bullet-active {
    width: 20px;
    opacity: 1;
}